<hr>

<form action="/result" method="GET">
<p>
  <label> What movie would you like to search for?</label>
  <input type="text" name= "user_movie">
</p>
<input type="submit" value="Search OMDB">
</form>
<hr>
