html {
  background: url("https://images.unsplash.com/photo-1457144759132-40d119c2f120?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=73bb0c590ddb73835492416e4d2a98d9") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



@keyframes just-keep-spinning {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    /*left: 0px;*/
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg)

  }
}

.one {
  animation: just-keep-spinning 10s infinite linear;
  /*animation-direction: alternate;*/*/
  padding: margin auto;
  position: fixed;
  top: 60%;
  left: 20%;

}

.two {
  animation: just-keep-spinning 3s infinite linear;
  /*animation-direction: alternate;*/*/
  padding: margin auto;
  position: fixed;
  top: 70%;
  left: 87%;
  right: 40%;
}
