<h3>Here you can add your favourite dog!</h3>

<form method="POST" action="/animals">
  <p>
    <label> Name: </label>
    <input type="text" name="name">
  </p>

  <p>
  <label> Breed:</label>
  <input type="text" name="breed">
  </p>

  <p>
    <label> Image: </label>
    <input type="text" name="image">
  </p>

  <p>
    <label> Descrption: </label>
    <input type="text" name="image">
  </p>

  <input type="submit" value="Create a new dog">

</form>
