<!DOCTYPE html>
<html>
<head>

<title>Build Your Dream Pooch!</title>

</head>
<body>

  <h1>For dog lovers, only</h1>

  <nav>
  <a href="/">Home</a>
  <a href="/dogs">All Dogs</a>
  <a href="/dogs/new">Add a dog! </a>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
